<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>Limitless</string>
    <key>CFBundleDisplayName</key><string>Limitless</string>
    <key>CFBundleIdentifier</key><string>io.github.leboonducoin.Limitless</string>
    <key>CFBundleExecutable</key><string>LimitlessApp</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>1.0.1</string>
    <key>CFBundleVersion</key><string>25</string>
    <key>CFBundleIconFile</key><string>Limitless</string>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>LimitlessHelperInstallation</key><string>bundled</string>
    <key>LSUIElement</key><true/>
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>NSHumanReadableCopyright</key><string>Copyright © 2026 Arthur Barreau. MIT License.</string>
</dict>
</plist>
